# Installation requirements.

coloredlogs >= 5.1
executor >= 19.2
humanfriendly >= 6.1
naturalsort >= 1.4
property-manager >= 2.3
python-dateutil >= 2.2
simpleeval >= 0.8.7
six >= 1.9.0
update-dotdee >= 5.0
verboselogs >= 1.5
